@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.features-heading {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    color: rgb(241, 219, 219);
    margin-bottom: 20px;
    font-family: 'proxima nova';
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.feature-item {
    display: flex;
    align-items: center;
    width: 30%;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.59);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 5px rgba(12, 12, 12, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.feature-item:hover {
    background-color: rgba(53, 51, 51, 0.59);
    transform: translateY(-5px); 
}

.feature-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    filter: brightness(0) invert(1); 
    transition: transform 0.2s ease; 
}

.feature-item:hover .feature-logo {
    transform: translateY(-5px);
}

.feature-text {
    display: flex;
    flex-direction: column;
}

.feature-text h3 {
    margin: 0;
    font-size: 20px;
    color: #fcf5f5;
    font-family: "Montserrat";
}

.feature-text p {
    margin: 5px 0 0;
    font-size: 18px;
    color: #c0bbbb;
    font-family: "Montserrat";
}
