body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(268.35deg, rgba(247, 75, 23, 0.99) 3.47%, rgba(20, 20, 20, 0.99) 60.18%);
    background-size: cover; /* Ensures the background covers the entire viewport */
    background-attachment: fixed; /* Fixes the background to the viewport */
    
}
